<mat-toolbar class="header_content">
  <button mat-button (click)="openSideBar()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-nav-list>
    <mat-list-item class="header_words" routerLink="">
      <h1>Главная</h1>
    </mat-list-item>
  </mat-nav-list>
</mat-toolbar>
<mat-sidenav-container >
  <mat-sidenav [(opened)]="isOpen" autoFocus="false">
    <h1 style="size: 30px;">Меню</h1>
    <mat-nav-list class="mat-items">
      <mat-list-item routerLink="department" (click)="isOpen = !isOpen"><span class="material-icons md-light" style="padding-right: 16px;">business</span>
        Отделы
      </mat-list-item>
      <mat-list-item routerLink="employee" (click)="isOpen = !isOpen"><span class="material-icons md-light" style="padding-right: 16px;">group</span>
        Сотрудники
      </mat-list-item>
      <mat-list-item routerLink="position" (click)="isOpen = !isOpen"><span class="material-icons md-light" style="padding-right: 16px;">group_work</span>
        Должности
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div> 
  </mat-sidenav-content>
</mat-sidenav-container>