.header_words{
  color:mintcream
}
.header_content{
  background-color: #588ab3;
  height: 45px;
}

mat-sidenav-container{
  height: 100%;
}
mat-sidenav{
  text-align: center;
  padding-top: 16px;
  width: 200px;
  background: rgb(247, 249, 255);
  color: black;
}
.mat-items{
  padding-left: 16px;
}